# Project metadata
.dockerignore
.git/
.github/
.gitignore

# Build and binary files
/bin/
/dist/
Dockerfile
stack

# Documentation and text
/docs/
/examples/
*.md
*.log
*.txt

# Makefile things
/out/
/tmp/
